.git
.idea
__pycache__
*.pyc
*.pyo
*.pyd
*.log
client.py
load_melo_models.py
requirements-client.txt
melo_models
piper_models
MeloTTS/.git
MeloTTS/__pycache__
MeloTTS/.pytest_cache
MeloTTS/docs
MeloTTS/test
