transformers~=4.27.4
num2words~=0.5.12
anyascii~=0.3.2
jamo~=0.4.1
cn2an~=0.5.22
jieba~=0.42.1
pypinyin~=0.50.0
g2p-en~=2.1.0
mecab-python3~=1.0.9
pykakasi~=2.2.1
inflect~=7.0.0
six~=1.17.0
gruut~=2.2.3
torch~=2.7.0
librosa~=0.9.1
soundfile~=0.13.1
torchaudio~=2.7.0
numpy~=1.26.4
tqdm~=4.67.1
gradio~=5.32.0
click~=8.2.0
scipy~=1.15.3
loguru~=0.7.2
numba~=0.61.2
cached_path~=1.7.3
huggingface-hub~=0.32.3
setuptools~=68.2.0
pydub~=0.25.1
requests~=2.32.3
uvicorn~=0.34.2
fastapi~=0.115.12
pydantic~=2.11.4
nltk~=3.9.1